//custom normalize, global rules are in there
@import "./helpers/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// mesure
$board-height: 100vh;
$board-width: 70vw;
$display-height: 100px;
$button-width: $board-width / 4;
// $button-height: round(($board-height - $display-height) / 5);
// color
$purple: #121230;

html,
body,
#main {
    height: 70%;
}
body{
    // background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    // background: -webkit-linear-gradient(to right, #E3FEE7, #D9E7FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E3FEE7, #D9E7FF);
    // background-color: #070715;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button{
  cursor: pointer;
}

button.standBy {
  cursor: default;
  opacity: .8;

}

#main {
    height: $board-height;
    width: $board-width;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}



/**************
   Controller
***************/
.ctrl-board{
  justify-content: space-between;
}
.controller{
  border-radius: 6px;
  height: 60px;
  margin: 20px;
  background-color: $purple;
  color: white;
  width: 120px;
  .ctrl-button{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 20px;
  }
}


/**************
     Footer
***************/

.contact {
    text-align: center;
}

footer {
    color: #43246a;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2rem;
    margin-top: 25px;
}

footer a {
    margin: 15px;
    color: #43246a;
    text-decoration: none;
}

footer a:focus {
    outline: none;
}

footer a:hover {
    color: #4f2781;
}
