//custom normalize, global rules are in there
@import "./helpers/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Anton|Oswald');

// mesure
$board-height: 100vh;
$board-width: 72vw;
$block-width: 12vw;
$display-height: 100px;

// color to clean 🚨
$purple: #25237E;
$pink: #FFDECB;
// test
// compo1
$cream: #E4E4DA;
$vibRed: #FCFAA3;
$charcoil: #2C2C2C;
// compo 2
$seaBlue: #01698C;
$goldenSand: #E4D063;
// compo 3
$yellow: #FCFAA3;

// size
$large-font-size: 64px;
$medium-font-size: 32px;
$small-font-size: 16px;

html,
body{
    height: 100%;
    width: 100%;
    background-color: $charcoil;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-image: url("/assets/images/shape_test.png");
}
* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button{
  cursor: pointer;
}

button.standBy {
  cursor: default;
  opacity: .8;

}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: $large-font-size;
}

p{
  color: white;
  font-size: 16px;
}

#main {
    // height: $board-height;
    // width: $board-width;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**************
   Controller
***************/
.ctrl-board{
  justify-content: space-between;
  width: $board-width;
}
.domain{
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  height: 100%;
  justify-content: space-between;
  width: $block-width;
  margin-bottom: 6vh;
  &:hover h1{
      color: $yellow;
  }
  h1{cursor:pointer}
}
.domain + .domain{
  margin-left: 2vw;
}
.controller{
  border-radius: 6px;
  height: 60px;
  margin: 20px 0;
  border: 2px solid $yellow;
  color: $yellow;
  width: 120px;
  .ctrl-button{
    font-size: $small-font-size;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .ctrl-display{
    flex-grow: 1;
    font-size: $medium-font-size
  }
}

//
.runner{
  width: 50vw;
  border-radius: 6px;
  background-color: $yellow;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  p{
    color: $charcoil;
  }
}

/**************
   display
***************/
.bar{
  top: -6vh;
  position: absolute;
  width: 100vw;
  height: 6vh;
  .progression{
    height: 100%;
    width: 100%;
    background-color: $yellow;
    transition: ease-in ease-out 1s;
  }
}

/**************
     Footer
***************/

.contact {
    text-align: center;
}

footer {
    color: white;
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    position: absolute;
    padding: 20px;
}

footer a {
    margin: 15px;
    color: white;
    text-decoration: none;
}

footer a:focus {
    outline: none;
}

footer a:hover {
    color: #4f2781;
}
